//color variables
$primary-blue: #239ad7;
$dark: #1b2a4e;
$white: #fff;

@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

.nav-root {
  width: 100%;
  height: 100%;
  background: #1c1d22;
  font-family: "Varela Round", sans-serif;
}

.menu {
  width: 100%;
  // position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 80px;
  list-style: none;

  background-color: $primary-blue;
}

.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;

  a {
    font-size: 22px;
    color: $dark;
    text-decoration: none;
    transition: all 0.45s;
  }

  &:hover {
    background: url("../assets/navbar_img.svg");
    animation: line 1s;
  }

  &:hover a {
    color: $white;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}
