.card {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  height: 250px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    max-width: 300px;
    height: 500px;
  }

  &-img {
    // background: url(https://farm9.staticflickr.com/8617/16789019815_f99a165dc5_o.jpg)
    //   0% 50% / contain;
    background-repeat: no-repeat;
    width: 32%;

    @media only screen and (max-width: 768px) {
      width: 100%;
      background: url(https://farm9.staticflickr.com/8617/16789019815_f99a165dc5_o.jpg);
      height: 55%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &-content {
    width: 68%;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 768px) {
      height: 45%;
      width: 100%;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    margin: 16px;
    height: 80%;

    @media only screen and (max-width: 768px) {
      margin: unset;
      padding: 6px 14px 9px;
    }
  }

  &-title {
    font-size: 2rem;
    font-weight: bold;

    @media only screen and (max-width: 768px) {
      font-size: 1.8rem;
    }
  }

  &-subtitle {
    color: grey;

    @media only screen and (max-width: 768px) {
      margin-bottom: 7px;
    }
  }

  &-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;

    @media only screen and (max-width: 768px) {
      -webkit-line-clamp: 6;
    }
  }
  &-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    border-top: 1px solid grey;
    height: 20%;
    &-info {
      margin: 0 auto;
      padding: 6px;
    }
  }
}
